.separador-lineal-home{
    position: relative;
    margin-top: 4rem !important;
    border-bottom: 1px solid var(--bs-gray-200);
}

.texto-linea-separadora-index{
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4px;
    width: 45%;
    color: var(--bs-dark);
    background-color: var(--bs-gray-100);
}

.imagen-santander{
    left: 2rem;
    right: 2rem;
    margin-top: 2rem;
}

#conenedor-productos-indice-slide{
    padding: 2rem !important;
}