<div class="component">
  <link href="../css/components/chat.css" rel="stylesheet" />

  <div id="">
    <div class="chat-container d-none">
        <div class="title-container-chat">
            <div class="row p-0 m-0 w-100" style="height: 100%;">
                <div class="col-2 p-0 m-0 d-flex justify-content-center align-items-center" style="margin-left: 5px !important;">
                    <div class="imagen-chat-container shadow-short">
                        <img src="../img/logos/logo-chat.png" class="imagen-chat" width="100%"/>
                    </div>
                </div>
                <div class="col-9">
                    <p class="nombre-chat">Electronorte Outlet</p>
                    <br/>
                    <p class="estado-chat">En linea</p>
                    <i class="mdi mdi-share-all go_whatsapp" title="Hablar por WhatsApp"></i>
                </div>
            </div>
        </div>
        <div class="row w-100 p-0 m-0 shadow-interior contenedor-chats bar-styled">
            <div class="col-12 p-0 m-0" id="lista_mensajes_enviadosyrecibidos">
                <div class="row m-0 p-0 mensaje-recibido" style="height: auto !important;">
                    <p class="text-mensaje-recibido shadow-short">
                        Estamos aqui para ti!
                        Podrias proporcionarnos unos datos basicos?
                        <div class="container-form-mensaje">
                            <input type="text" class="container-nombre-chat" placeholder="Nombre completo"/>
                            <input type="text" class="container-celular-chat" placeholder="Ej: 1171876182"/>
                            <button class="btn btn-success" id="boton-confirmar-datos-basicos">Confirmar</button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="text-message-container shadow-short d-none">
            <div class="row p-0 m-0 w-100 justify-content-center contenedor-input-send">
                <div class="col-10 p-0 m-0 d-flex justify-content-center align-items-center">
                    <input type="text" class="input-chat form-control" id="text-message">
                </div>
                <div class="col-2 p-0 m-0 d-flex justify-content-center align-items-center">
                    <i class="mdi mdi-send send-message-button"></i>
                </div>
            </div>
        </div>
    </div>
    <i class="mdi mdi-whatsapp chat-principal-icon" title="Contactanos"></i>
  </div>

  <script src="../js/components/chat.js" type="module"></script>
</div>

<style>
    .container-form-mensaje{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid var(--bs-gray-400);
        margin: 1rem;
        width: 80%;
    }

    .container-nombre-chat{
        margin: 2px;
    }

    .container-celular-chat{
        margin: 2px;
    }

    #boton-confirmar-datos-basicos{
        margin: 2px;
    }
</style>