.container-producto-reducido{
    max-height: 40px;
}

.imagen-producto-compra{
    width: 100%;
    max-height: 40px;
}

.cuotes-values-container{
    margin-top: 0.5rem !important;
    border-radius: 0.5rem;
    border: 1px solid var(--bs-gray-400);
}

.contenedor-valores-cuotas{
    padding: 1rem;
}